// Basics
.prev-next {
    display: flex;
    justify-content: space-between;
  }
  
  // Advanced
  .prev-next {
    line-height: 1; // tight line height to group lines when wrapping
    flex-wrap: wrap; // allow multiple lines a small screen sizes
    a {
      margin: .5rem 0; // space between links and borders
      flex: auto; // allow flex items to grow to allow text alignment when items wrap
      &:first-of-type::before {
        content: "←\00a0"; // use non breaking space to glue arrow to first word
      }
      &:last-of-type {
        text-align: right; // right-align text when flex items wrap
        &::after {
          content: "\00a0→"; // use non breaking space to glue arrow to last word
        }
      }
    }
  }
  
  /* Uninteresting stuff below here */
  
  .prev-next {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-top: 2em;
    a {
      text-decoration: none;
    }
  }
  