._6ijr{background-color:#f2f3f5;padding:7px 7px 6px 11px}._6ijr ._6ijs{background-color:#fff}
._6ijp{background:#f2f3f5;color:#fff;font-size:8px;padding:0 1px;position:absolute;right:0;top:0;z-index:10}._6ijp:hover{background:#444950;text-decoration:none}

#bootloader_bxneA{height:42px;}.bootloader_bxneA{display:block!important;}