._s2h{text-align:right}
.sp_6SGAzuG3I85_1_5x{background-image:url(/rsrc.php/v3/yl/r/-7WJekv3uCm.png);background-size:26px 40px;background-repeat:no-repeat;display:inline-block;height:24px;width:24px}.sp_6SGAzuG3I85_1_5x.sx_e90b61{background-position:0 0}.sp_6SGAzuG3I85_1_5x.sx_2a5335{width:12px;height:12px;background-position:0 -26px}

#bootloader_XgyY9{height:42px;}.bootloader_XgyY9{display:block!important;}